// _card
.c-state-card {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 1.875rem;
    padding: 1.875rem;
    border: 1px solid #e6eaee;
    border-radius: 4px;
    background-color: #fff;
    display: block;
    margin-bottom: 1.5rem;
    border-color: #edf2f9;
    -webkit-box-shadow: 0 2px 2px 2px rgba(18, 38, 63, 0.03);
    box-shadow: 0 2px 2px 2px rgba(18, 38, 63, 0.03);
}
.c-state-card, .c-state-card__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

 .c-state-card__icon--info {
    background: #2ea1f8;
    background: linear-gradient(180deg,#2ea1f8,#1990ea);
}
.c-state-card__icon--fancy {
    background: #886ce6;
    background: linear-gradient(180deg,#886ce6,#7d5be2);
}
.c-state-card__icon--warning {
    background: #fd9a18;
    background: linear-gradient(180deg,#fd9a18,#f16911);
}
.c-state-card__icon--success {
    background: #39b54a;
    background: linear-gradient(180deg,#39b54a,#34aa44);
}

.c-state-card__icon {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-right: 1.25rem;
    border-radius: 100%;
    background-color: #b7c0cd;
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
}
.c-state-card, .c-state-card__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.c-state-card__number {
    display: inline-block;
    position: relative;
    margin: 0;
    font-size: 30px;
    font-weight: 400;
}

.c-state-card__meta {
    margin: 0;
    color: #7f8fa4;
    font-size: .75rem;
    font-weight: 500;
    text-transform: uppercase;
}
.u-text-success{
    color: #45b854 !important;
}
.u-bg-green {
    background-color: #45b854 !important;
}

.c-state-card__status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 15px;
    right: -20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #bbc5d5;
    color: #fff;
    font-size: .625rem;
    text-align: center;
}