.footer-wrapper {
	background-color: $color-secondary;
	color: #fff;	

	.btn {
		font-size: 14px;
	}

	.copyright {
		font-size: 10px;
		text-transform: uppercase;
		padding: 15px 0;
	}

	.nav {
		list-style: none;
		display: block;

		li {
			padding: 5px 0;
			a {
				color: #FFF;
			}
		}
	}
}

.footer-bottom {
	@extend .clearfix;
	padding: 25px 0; 
}

.footer-top { 
	@extend .clearfix; 

	background-color: darken($color-secondary, 2%);
	margin: 0 -1000px;
	padding: 50px 1000px;	

	h2 {
		font-size: 1.5em;
		font-weight: 400;
		margin: 0 0 30px 0;		
	}

	p {
		color: #FFF;
		font-size: .95em;
	}

	form {
		margin: 0 0 20px 0;
	}

	.social {
		a {
			margin: 0 10px 0 0;
			font-size: 25px;
			color: #FFF;
			&:hover {
				text-decoration: none;
			}
		}
	}

	.form-group {
		margin: 0;
	}

	.form-control {
		background-color: rgba(#fff, .08);
		border: 0;		
		color: #fff;
		transition: background-color .15s linear;

		&:active, &:focus {
			background-color: rgba(#fff, .12);
		}
	}	
}

.footer-top-left {
	float: left;
	width: 40%;

	@include media-breakpoint-down(sm) {
		float: none;
		margin-bottom: 60px;
		width: 100%;
	}
}

.footer-top-right {
	float: right;
	width: 50%;

	a {
		margin: 0 0 0 10px;
	}

	@include media-breakpoint-down(sm) {
		float: none;
		width: 100%;
	}	
}

.is-logo-footer {
	width: 172px;
	margin-left: -10px;
	margin-top: -10px;
	margin-bottom: 15px;
	filter: brightness(100);
}

.footer-inner {
	@extend .clearfix;	
	h2 {
		color: #fff;
	}
	.nav-item {
		&:after {
			color: rgba(#fff, .4);
			content: '/';			
			display: inline;
			padding: 0 15px 0 20px;
		}

		&:last-child {
			&:after {
				display: none
			}
		}
	}

	.nav-link {
		border-radius: 0;
		color: #fff;
		display: inline;
		padding: 0 0 3px 0;

		&:hover {
			border-bottom: 1px solid rgba(#fff, .6);
		}
	}
}

.footer-left {
	float: left;

	@include media-breakpoint-down(sm) {
		float: none;
		margin-bottom: 30px;
		width: 100%;
	}	
}

.footer-right {
	float: right;

	@include media-breakpoint-down(sm) {
		float: none;
		width: 100%;
	}	
}