.listing-detail {
	hr {
		padding: 0;
		margin: 20px 0;
	}
}
#listing_detail {
	.content-title {
		margin-bottom: 0px;
	}
}

.listing-detail, .post-detail {
	margin: 0 0 60px 0;
	
	h2 {
		font-size: 1.3em;
		margin: 0 0 0px 0;
		padding: 0px 0 0px 0;
	}

	h3 {
		font-size: 1.1em;
		margin: 0 0 30px 0;
		padding: 20px 0 0 0;
	}

	p {
		color: lighten($color-gray-darker, 5%);
		margin: 0 0 30px 0;
	}
}

#map-view, #street, .tab-content {
    width: 100%;
    height: 500px;
}

.listing-detail-attributes {
	@extend .clearfix;

	background-color: #fff;
	box-shadow: 0 1px 2px rgba(#000, .08);
	margin-bottom: 15px;
	padding: 20px;
	width: 100%;
	display: table;

	@include media-breakpoint-down(md) {
		padding-bottom: 10px;
	}

	.listing-detail-attribute {	
		width: 100%;
		display: inline-block;
		vertical-align: top;

		@include media-breakpoint-down(md) {
			margin-bottom: 30px;
		}

		.key, .value {
			display: block;
		}

		.key {
			color: darken($color-gray-dark, 10%);
			font-size:1em;
			font-weight: 400;
			margin: 0 0 5px 0;
			text-transform: uppercase;
		}

		.value {
			color: darken($color-gray-darker, 10%);
			font-size: 1.5em;
			font-weight: 600;

			@include media-breakpoint-down(md) {
				font-size: 1.2em;
			}
		}

		.value-image {
			background-color: $color-gray-medium;
			border-radius: 50%;
			display: inline-block;
			height: 30px;
			margin: 0 10px 0 0;
			position: relative;
			transition: background-color .15s linear;
			vertical-align: -8px;
			width: 30px;

			a {		
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				border-radius: 50%;
				bottom: 2px;
				left: 2px;
				position: absolute;
				right: 2px;
				top: 2px;
			}

			&:hover {
				background-color: $color-primary;
			}
		}
	}
}



.gallery {
	// margin: 0 0 30px 0;
	position: relative;

	.owl-nav {
		bottom: 0;
		right: 0;
		position: absolute;
	}

	.owl-prev {
		border-right: 1px solid rgba(#000, .1);
	}

	.owl-prev, .owl-next {
		background-color: rgba($color-primary, .75);
		color: #fff;
		float: left;
		height: 60px;
		position: relative;
		transition: background-color .15s linear;
		width: 60px;

		&:hover {
			background-color: rgba($color-primary, .9);
		}

		.fa {
			display: block;
			left: 50%; 
			position: absolute;
			transform: translateX(-50%) translateY(-50%);
			top: 50%;
		}
	}
}

.gallery-item {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 408px;
}

.overview {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			@extend .clearfix;
			border-bottom: 1px solid rgba(#000, .02);
			padding: 8px 0;

			strong {
				color: lighten($color-gray-darker, 10%);
				font-weight: 400;
			}

			span {
				float: right;
				font-weight: 600;
			}

			&:last-child {
				border-bottom: 0;
			}
		}
	}
}

.valuation {	
	margin: 0 0 50px 0;
}

.valuation-item {
	@extend .clearfix;

	margin: 0 0 25px 0;
}

.valuation-item-key {
	float: left; 
	font-weight: bold;
	line-height: 24px;
	width: 25%;
}
 
.valuation-item-value {
	float: left;
	width: 75%;

	span {
		background-color: $color-primary;
		display: block;
		height: 24px;
		position: relative;

		&:after {
			background-color: rgba(#000, .2);
			bottom: 0;
			content: '';
			height: 3px;
			left: 0;
			position: absolute;
			right: 0;
		}

		strong {
			background-color: $color-secondary;
			bottom: 0;
			color: #fff;
			display: block;
			font-size: .9em;
			font-weight: 400;	
			padding: 2px 10px;		
			position: absolute;
			right: 0; 
			top: 0;
		}
	}
}

.amenities {
	@extend .clearfix;
	list-style: none;
	margin: 0 0 30px 0;
	padding: 0;

	li {
		width: 49%;
		padding: 8px 0;
		display: inline-block;

		&:before {
			display: inline-block; 
			width: 24px;
		}

		&.yes {
			&:before {
				color: $color-primary;
				content: '\f00c';
				font-family: 'FontAwesome';
			}
		}

		&.no {
			&:before {	
				color: $color-gray-dark;			
				content: '\f00d';
				font-family: 'FontAwesome';
			}
		}		
	}	
}

.six-gallery {
	position: relative;
	.six-image__first {
		float: left;
		width: 50%;
		height: 550px;
		position: relative;
		@include media-breakpoint-down(lg) {
			width: 75%;
		}
		@include media-breakpoint-down(md) {
			width: 100%;
			height: 350px;
		}
		.six-image__first_one {
			height: 100%;
			position: relative;
			border-right: 1px solid #000;
			border-bottom: 1px solid #000;
		}
	}
	.six-image__second {
		float: left;
		width: 25%;
		height: 550px;
		@include media-breakpoint-down(lg) {
			width: 25%;
		}
		@include media-breakpoint-down(md) {
			display: none;
			width: 0%;
			height: 350px;
		}
		.six-image__second_one {
			height: 50%;
			position: relative;
			border-right: 1px solid #000;
			border-bottom: 1px solid #000;
		}
		.six-image__second_two {
			height: 50%;
			position: relative;
			border-right: 1px solid #000;
			border-bottom: 1px solid #000;
		}
	}
	.six-image__third {
		float: left;
		width: 25%;
		height: 550px;
		@include media-breakpoint-down(lg) {
			display: none;
			width: 0%;
		}
		.six-image__third_one {
			height: 50%;
			position: relative;
			border-right: 1px solid #000;
			border-bottom: 1px solid #000;
		}
		.six-image__third_two {
			height: 50%;
			position: relative;
			border-right: 1px solid #000;
			border-bottom: 1px solid #000;
		}
	}
	.six-image {
		position: absolute;
		top: 0;
		left: 0;
		background-size: cover; 
	}
	.six-gallery-more {
		position: absolute;
		right: 20px;
		bottom: 20px;
		background: #fff;
		padding: 10px 20px;
	}
}