/* Select2 Override styles */

.select2-container--default {
	&.select2-container--focus {
		.select2-selection--multiple {
			border: 1px solid #aaa;
			outline: none;
		}
	}

	.select2-selection--multiple {
		.select2-selection__choice {
			background-color: rgba($color-primary, 0.8);
			color: #FFF;
			font-size: .8rem;
			border: none;

			.select2-selection__choice__remove {
				color: #FFF;
				float: right;
				margin-left: 2px;
				font-weight: normal;
			}
		}
	}
}

// .select2-container--default.select2-container--focus .select2-selection--multiple