@import 'helpers/variables';

// $color-primary: $color-purple;
// $color-primary: $color-blue-gray;
// $color-primary: $color-blue;
// $color-primary: $color-brown;
// $color-primary: $color-cyan;
// $color-primary: $color-green-dark;
// $color-primary: $color-green;
$color-primary: $color-magenta;
// $color-primary: $color-orange-dark;
// $color-primary: $color-orange;
// $color-primary: $color-red;
// $color-primary: $color-teal;
// $color-primary: $color-yellow;

@import 'bootstrap';
@import 'new-theme/main.scss';
@import 'icons/main.scss';

