/* Styling for blog */

.blog {
    .breadcrumb {
        background: none;
        padding-left: 0px;
        li {
            margin-right: 10px;
            &.separator{
                margin-right: 5px;
                &:after {
                    display: inline-block;
                    padding-right: .5rem;
                    padding-left: .5rem;
                    color: #6c757d;
                    content: "/";
                }
            }
        }
    }

    .sidebar {
        li {
            width: 100%;
            &.active a {
                background: rgba(0, 0, 0, 0.02);
            }
        }
    }

    // Detail page  
    &.blog-detail {
        h1, h2, h3 {
            margin-bottom: 20px;
        }
        h1 {
            font-size: 28px;
        }

        h2, h3 {
            font-weight: 600;
        }

        .content {
            ol, ul {
                padding-left: 25px;
                font-size: 15px;
                margin-bottom: 20px;

                li {
                    list-style-type: decimal;
                }
            }

            ul {
                li {
                    list-style-type: disc;
                }
            }

            p {
                font-size: 16px;
                color: #111;
            }
        }
    }
}
