#home {
    .blogs {
        .listing-box {
            border-radius: 3px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        }

        .listing-box-title {
            padding: 8px;
        }
    }
}
